{% macro pagination(pages, current_page, base_url='', params={}) %}
{% if pages > 1 %}
<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center">
        {% if current_page > 1 %}
        <li class="page-item">
            <a class="page-link" href="{{ base_url }}?page={{ current_page - 1 }}{% for key, value in params.items() %}&{{ key }}={{ value }}{% endfor %}">&laquo; Previous</a>
        </li>
        {% endif %}
        
        {% for p in range(1, pages + 1) %}
        <li class="page-item {% if p == current_page %}active{% endif %}">
            <a class="page-link" href="{{ base_url }}?page={{ p }}{% for key, value in params.items() %}&{{ key }}={{ value }}{% endfor %}">{{ p }}</a>
        </li>
        {% endfor %}
        
        {% if current_page < pages %}
        <li class="page-item">
            <a class="page-link" href="{{ base_url }}?page={{ current_page + 1 }}{% for key, value in params.items() %}&{{ key }}={{ value }}{% endfor %}">Next &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endmacro %}